@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html,
body {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  height: 100vh;
}

.main-content {
  margin-bottom: 138px;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contact-container {
  margin-top: 30px;
  margin-bottom: 99px;
}
@media (max-width: 768px) {
  .contact-container {
    margin-bottom: 251px;
  }
}

.cart-container {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 0 30px;
}

@media (max-width: 768px) {
  .cart-container {
    margin-bottom: 180px;
    text-align: center;
  }
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 155px;
}
@media (max-width: 768px) {
  .wrapper {
    margin-top: 0px;
  }
}

h1 {
  margin-top: 0px;
}
@media (max-width: 768px) {
  h1 {
    margin-top: 0px;
  }
}

.newsletter-container {
  max-width: 750px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 768px) {
  .newsletter-container {
    text-align: center;
  }
}

.logo-link {
  padding: 0;
  margin: 0;
  border: none;
  display: inline-block;
}
.logo-link img {
  display: block;
}

.flexslider {
  max-width: 465px !important;
  margin: 0 auto !important;
}
.flexslider .slides img {
  width: 465px !important;
  height: 581px !important;
  object-fit: cover !important;
}

@media (max-width: 767px) {
  .flexslider {
    max-width: 100% !important;
  }
  .flexslider .slides img {
    width: 100% !important;
    height: auto !important;
  }
}
.flex-direction-nav {
  list-style: none;
}
.flex-direction-nav .flex-prev {
  left: 10px;
}
.flex-direction-nav .flex-next {
  right: 10px;
}
.flex-direction-nav a {
  display: block;
  width: 45px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  background: transparent;
  transition: all 0.3s ease 0.4s;
  background-repeat: no-repeat;
  background-size: 20px auto;
}

.email-link {
  text-align: center;
}
.email-link a {
  text-decoration: none;
  color: inherit;
}

.shipment-pricing,
.notice,
.order-info,
.sales-tax,
.sales-tax-info,
.return-policy,
.shipping-rates,
.order-processing {
  text-align: left;
  margin-bottom: 15px !important;
}

.shipping-info span {
  display: block;
}

.order-info span {
  font-size: medium;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .wrapper {
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.newsletter-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.newsletter-signup form {
  max-width: 400px;
  width: 100%;
  padding: 30px;
}
.newsletter-signup form label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}
.newsletter-signup form input {
  display: block;
  height: 20px;
  padding: 15px;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #b0b0b0;
  border-radius: 3px;
  box-sizing: border-box;
}
.newsletter-signup form button {
  display: block;
  text-align: center;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  font-family: inherit;
}
@media (max-width: 768px) {
  .newsletter-signup form {
    text-align: center;
    margin-bottom: 32px;
  }
  .newsletter-signup form input {
    height: 20px;
    padding: 15px;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    box-sizing: border-box;
  }
  .newsletter-signup form button {
    margin: 0 auto;
    text-align: center;
  }
}

.required {
  color: red;
}

.product-wrapper {
  max-width: 960px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 342px;
  gap: 10px;
  padding: 0 30px;
}
@media (max-width: 768px) {
  .product-wrapper {
    margin-bottom: 0px;
    flex-direction: column;
  }
}

.product-images {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
@media (max-width: 768px) {
  .product-images {
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

.thumbnail-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 768px) {
  .thumbnail-images {
    flex-direction: row;
    gap: 5px;
  }
}

.thumbnail {
  cursor: pointer;
  width: 100px;
  height: auto;
}
@media (max-width: 768px) {
  .thumbnail {
    width: 80px;
  }
}

.full-image {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .full-image {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 930px) and (max-width: 978px) {
  .product-description {
    padding-right: 30px;
  }
}
.full-image img {
  width: 370px;
  height: 370px;
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .full-image img {
    width: 100%;
    height: auto;
  }
}

.product-details {
  flex-direction: column;
}
@media (max-width: 768px) {
  .product-details {
    gap: 5px;
    margin: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.sizes {
  font-family: inherit;
  margin-bottom: 20px;
}
.sizes select {
  font-family: inherit;
}
.sizes option {
  font-family: inherit;
}

.sizes select {
  font-size: 16px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 3px;
  width: 28%;
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="black" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>') no-repeat right 10px center;
  background-size: 10px;
}

.add-to-cart {
  display: block;
  text-align: center;
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
}

.product-description {
  max-width: 460px;
  word-spacing: 2px;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .product-description {
    margin-top: 10px;
    text-align: center;
  }
}
.product-description img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.product-details h1 {
  font-size: 2em;
  margin-block-end: 0px !important;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing {
  opacity: 0;
}

.badge {
  display: table;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 0%;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 0.75em;
  line-height: 1.1;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.badge-sold-out {
  background-color: #bbb;
  color: #fff;
}

.badge-text {
  display: table-cell;
  vertical-align: middle;
  padding: 2px 8px 0;
}

.add-to-cart:disabled {
  background-color: #f6f6f6;
  color: #b6b6b6;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: default;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
}
nav {
  font-size: 18px;
  color: rgb(51, 51, 51);
}
nav ul {
  list-style: none;
  padding-inline-start: 0;
}
nav ul li {
  display: inline-block;
  padding: 5px;
}
nav a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}
nav a.active {
  font-weight: bold;
}
nav a:hover {
  color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  nav {
    text-align: center;
  }
}
footer {
  display: flex;
  justify-content: center;
  text-align: center;
}
footer ul {
  list-style-type: none;
  display: flex;
  padding-inline-start: 0px;
  gap: 10px;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer a:hover {
  text-decoration: none;
}

@media (max-width: 600px) {
  ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    margin-bottom: 0px;
  }
}
.shop-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 960px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.grid-item {
  text-align: center;
  text-decoration: none;
  position: relative;
}
.grid-item img {
  max-width: 100%;
  height: auto;
  transition: filter 0.3s ease;
}
.grid-item img:hover {
  filter: brightness(1.1);
}
.grid-item .product-name {
  margin: 0;
  font-weight: bold;
}
.grid-item .product-price {
  margin-top: 5px;
  font-size: 1em;
}
.grid-item a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
