@use '../utils/variables' as *;

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    
    ul {
        list-style-type: $no-text-decoration;
        display: flex;
        padding-inline-start: 0px;
        gap: 10px;
    }

    a {
        text-decoration: $no-text-decoration;
        color: inherit;

        &:hover {
            text-decoration: $no-text-decoration;
        }
    }
}

@media (max-width: 600px) {
    ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    li {
        margin-bottom: 0px;
    }
}