@use "../utils/variables" as *;

.shop-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 960px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
        grid-template-columns: 1fr;
    }
}

.grid-item {
    text-align: center;
    text-decoration: $no-text-decoration;
    position: relative; /* Add this line */

    img {
        max-width: 100%;
        height: auto;
    }

    .product-name {
        margin: 0;
        font-weight: bold;
    }

    .product-price {
        margin-top: 5px; 
        font-size: 1em;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}